---
import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../component/PokemonCard.astro";
import type {PokemonList} from "../../interfaces/pokemon-response.interface";
export const getStaticPaths = (async ()=> {
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=30&offset=386')
    const {results} = (await resp.json()) as PokemonList
    return  results?.map(({name, url})=> (
        {params: {name },
            props: {name ,url}}
    ))
});


const {name} = Astro.params
const {url} = Astro.props
// const {id} = url.split('/').at(-2) ?? 0

---
<Layout title="Algun pokemon">

    <PokemonCard name={name} url={url} isBig={false}/>
    <h1 class="text-3xl">{name}</h1>

</Layout>