---
import {type PokeResponse, type Sprites} from "../interfaces/pokemon-single";
const {name, url} = Astro.props
const response: Response = await fetch(url)
const data: PokeResponse = await response.json();
const {sprites}:any = data;
// console.log('Pokimon', sprites.other.dream_world.front_default)
const pnum:string = url.split('/')[6]
console.log(name)

---



    <!--Card-->
    <a href={`/pokemons/${name}`}
       class="max-w-sm rounded overflow-hidden
       text-center
       shadow-lg bg-white justify-center m-1.5 align-text-bottom shrink cursor-pointer">
        {<img id={name} class="max-w-xs m-auto" src={sprites.other.dream_world.front_default}
              alt="Sunset in he mountains"
        />}
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-gray-800">{name}</div>
            <p class="text-gray-700  text-base">
                {pnum}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                perferendis eaque, exercitationem praesentium nihil.
            </p>
            {data?.types?.map(slot =>

                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                        {slot?.type?.name ?? 'unload'}
                    </span>
            )}
        </div>
        <button type="button"
                class="m-auto text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            VER MAS
        </button>
    </a>

<!--<script>-->
<!--    (function(window, document, undefined) {-->

<!--        // code that should be taken care of right away-->

<!--        window.onload = init;-->

<!--        function init(){-->
<!--            const PokemonCard = document.getElementById()-->
<!--            console.log(name)-->
<!--            PokemonCard.addEventListener('click', () => {window.location.href = "http://www.w3schools.com"});-->
<!--            // the code to be called when the dom has loaded-->
<!--            // #document has its nodes-->
<!--        }-->

<!--    })(window, document, undefined);-->




<!--</script>-->